---
var a = 25;
---
<h1>The ol and ul elements</h1>

<p>The ol element defines an ordered list:</p>
<ol>
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ol>
<p>The ol element defines an ordered list:</p>
<li>
    <li>Coffee</li>
    <li>Tea</li>
    <li>Milk</li>
</li>

<p>The ul element defines an unordered list:</p>
<ul>
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ul>
<style> 
    p:first-of-type{
        color: blue;
    }
    ul{
        background-color: pink;
        color: black;
    }
    li{
        background-color: white;
        color: black;
    }
    ol{
        background-color: greenyellow;
        color: black;
    }
    
</style>